CrashReportClient.ini
*.log
Saved/Logs/HackAndSlash.log
Saved/Config/CrashReportClient/UE4CC-Windows-29C597FA4734E13EA8CFCA95D0E42C7E/CrashReportClient.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
